{% extends "groups/group_base.html" %}
{% block pregroup %}
<div class="container">
<div class="group-content">
  <h1>{{group.name}}</h1>
  <h2>Member Count: {{group.members.count}}</h2>
  {% if user in group.members.all %}
  <a href="{% url 'posts:group_posts' pk=group.pk %}" class="btn btn-lg btn-primary"><span class="fa fa-plus"></span> Add Post</a>
  {% endif %}
  <a href="{% url 'groups:group_member' slug=group.slug %}" class="btn btn-lg btn-warning"><span class="fa fa-user"></span> Members</a>
  {% if user in group.members.all %}
    <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-danger btn-lg"><span class="fa fa-times-circle-o"></span>Leave Group</a>
  {% else %}
  <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-danger btn-lg btn-primary"><span class="fa fa-check-circle-o"></span> Join Group</a>
  	{% endif %}
</div>
</div>
{% endblock %}

{% block group_content %}
<div class="col-md-8">
  {% if group.posts.count == 0 %}
    <h3>No posts in this group yet!</h3>
  {% else %}
  {% if user in group.members.all %}
  {% for post in group.posts.all %}
    {% include "posts/_post.html" %}
  {% endfor %}
  {% else %}
  <h3>Please join the group to view the posts</h3>
  {% endif %}
{% endif %}
</div>
{% endblock %}
